{
  "Port": {
    "1": {
        "admin": [
            "up"
        ],
        "interfaces": [
            "1"
        ],
        "ip4_address": [
            "10.1.0.1/30"
        ],
        "name": "test"
    },
    "bridge_normal": {
        "interfaces": [
            "bridge_normal"
        ],
        "name": "bridge_normal"
    }
}
}
